.btnRemoveRow{
    color:red;
    font-size:12px;
    font-weight:900;
    padding-left:4px;
  
}

.btnAddRow{
    border:2px solid green;
    padding:5px;
    color:green;
    font-size:13px;
    font-weight:900;
    margin-bottom:10px;
    

}